.container-fluid
{
    background-color:blue;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    
  }
  li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration-color:red;
  }
  .navbar li a {
    text-decoration-color: white;
  }
  
  .container-fluid:hover {
    background-color:lightblue;
  }